<div id = "home">
<ul>
	<% if user_signed_in? %>
	<p>
		Merci de t'être inscrit <%= current_user.email %>
	</p>
	<p>
		<%= link_to "déconnexion", destroy_user_session_path, method: :delete, class: "buttonlogout" %>
	</p>
	<% end %>
</ul>
</div>


