div#testcss
{	
	display:flex;
	width: 50%;
	height: 2em;
	align-items: center;
	text-decoration: none;
	justify-content: space-between;
	font-size: small;

	padding: 0.5em 0
}

div#l1
{
	background-color: blue;


}

div#l2
{
	background-color: pink;


}
