body
{

	background: asset-data-url('fond.jpeg');
	background-size: cover;
}
div#all {

	background-color: grey;
  	display: flex;
  	
  	justify-content: space-around;

}



div#testcss
{	
	position:absolute;

	border-radius: 5px;
	display:flex;


}

div#l1
{
	position:relative;
	width: 25em;
	border-radius: 8px 0 0 8px;
	padding-left: 5px;

	background-color: rgba(204, 243, 255, 0.5);


}

div#right
{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 0 8px 8px 0

}
div#l2
{
	border-radius: 0 0 8px 0;
	position: relative;
	height: 100%;
	padding-left: 5px;

	display: flex;
	flex-direction: column;
}

div#l3
{	

}

.btn
{
	color: #fff;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid black;
	outline: none;
	text-decoration: none;
	display: inline-block;
    line-height: 28px;
    padding: 0 150px;
    border-radius: 2px;
    margin-left: 10em;
    margin: 1em;
}
.btn-login
{
	background-color: grey;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	text-decoration: none;
	margin:0;
	padding: 10px 0;
	border-radius: 0 0 8px 0;
}

.champ
 {	
 	border: 1px solid #bbb;
  	width: 80%;
  	padding: 10px 12px;
  	margin-bottom: 20px;
  	margin-left: 5px;

	height: auto !important;
}